{{- define "main" -}}

{{- $paginator := .Paginate (where .Pages "Type" "posts") -}}

<section id="author">
  <div class="author-header">
    <div class="author-header-content">
      <h1>{{- .Params.fullName -}}</h1>
      <h2 class="author-header-bio">{{- .Params.bio -}}</h2>
      <p class="author-header-meta">
        <i>{{ len (where .Pages "Type" "posts") }} posts written.</i>
      </p>
      <p class="author-header-meta">
        <span>
          <a class="author-header-social"
             href="{{ .Params.website }}"
             target="_blank">
            {{ .Params.website }}
          </a>
        </span>
      </p>
      <p class="author-header-meta">
        {{- range $key, $val := .Params.social -}}
        <span>
          <a class="author-header-social"
             href="{{ $val }}"
             target="_blank">
            {{ upper $key }}
          </a>
        </span>
        {{- end -}}
      </p>
    </div>
    <div class="author-header-avatar-container">
      <img class="author-header-avatar"
           src="{{- .Params.avatar  -}}"
           alt="author avatar"/>
    </div>
  </div>

  <div class="author-posts">

    {{- partial "note-list.html" $paginator -}}
    {{- partial "pagination.html" $paginator -}}

  </div>
</section>

{{- end -}}
