<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
  {{- partial "head.html" . -}}
  <body>
    <div class="base-body">
      {{- if .IsHome -}}
      {{- partial "header.html" . -}}
      {{- partial "sections-navbar.html" . -}}
      {{- else -}}
      {{- partial "header-reduced.html" . -}}
      <!-- Add section header if it's a section home page -->
      {{- if .Params.isSection -}}
      {{- partial "section-header.html" . -}}
      {{- end -}}

      {{- end -}}
      <div id="content">
        {{- block "main" . -}}{{- end -}}
      </div>
      {{- partial "footer.html" . -}}
    </div>
  </body>

</html>
