<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
  {{- partial "head.html" . -}}
  <body>
    <div class="base-body">
      {{- if .IsHome -}}
      {{- partial "header.html" . -}}
      {{- partial "homepage-publications-navbar.html" . -}}
      {{- else -}}
      {{- partial "reduced-header.html" . -}}

      <!-- Add publication header if it's a publication page -->
      {{- if eq .Kind "taxonomy" -}}
      {{- partial "publication/header.html" . -}}
      {{- $highlightColor := .Params.color}}
      {{- end -}}

      {{- end -}}
      <div id="content">
        {{- block "main" . -}}{{- end -}}
      </div>
      {{- partial "footer.html" . -}}
    </div>
  </body>

</html>
