<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
  {{- partial "head.html" . -}}
  <body>
    <div class="base-body">
      {{- if .IsHome -}}
      {{- partial "header.html" . -}}
      {{- partial "subsections-navbar.html" . -}}
      {{- else -}}
      {{- partial "header-reduced.html" . -}}
      <!-- Add subsection header if it's a subsection home page -->
      {{- if .Params.subsection -}}
      {{- partial "subsection/header.html" . -}}
      {{- $highlightColor := .Params.color}}
      {{- end -}}

      {{- end -}}
      <div id="content">
        {{- block "main" . -}}{{- end -}}
      </div>
      {{- partial "footer.html" . -}}
    </div>
  </body>

</html>
