{{- define "main" -}}

{{- $justify := false -}}
{{- if eq .Params.justify true -}} {{- $justify = true -}} {{- end -}}

{{- $highlightColor := "" -}} 

<!-- Get section highlight color -->
{{- if .Parent.Params.isSection  -}}
{{- $highlightColor = .Parent.Params.color}}
{{- end -}}

<div
  class="article-container"
  style="--highlight-color:{{- $highlightColor -}};"
  >
  {{- partial "article-header.html" . -}}
  <article
    class="article markdown-body"
    {{- if $justify -}}
    style="text-align: justify;"
    {{- end -}}>
    {{- with .Params.cover -}}
    <p><img class="cover" src="{{- . | safeURL -}}" alt></p>
    {{- end -}}
    {{- .Content -}}
  </article>
  {{- partial "article-author.html" . -}}
  {{- partial "article-labels.html" . -}}
  {{- partial "article-license.html" . -}}
</div>

<!-- Disable article navigation...
{{- partial "article-bottom-navigation.html" . -}}
-->

<!-- ...and add related articles. -->
{{- partial "article-related-articles.html" . -}}

{{- partial "article-comments.html" . -}}
{{- end -}}
