{{- define "main" -}}

{{- $page := .Page -}}
{{- $pages := (.Site.GetPage "/posts").Sections -}}

<!-- Order by postCount winners -->
{{- $paginator := .Paginate $pages.ByLength -}}

<section id="authors">
  <div class="authors-header">
    <h1>Sections</h1>
  </div>

  <ul class="authors-list">
    {{- range $paginator.Pages -}} 
    <li>
      <a class="authors-list-item"
         href="{{- .RelPermalink -}}">
        <img class="authors-list-item-avatar"
             src="{{- .Params.avatar  -}}"
             alt="author avatar"/>
        <h3>{{- .Params.fullName -}}</h3>
        <p class="authors-list-item-meta">
          Posts: {{ len .Pages }}
        </p>
        <p class="authors-list-item-meta">{{- .Params.bio -}}</p>
      </a>
    </li>
    {{- end -}}
  </ul>

{{- partial "pagination.html" $paginator -}}

</section>

{{- end -}}
