{{- define "main" -}}

{{- $page := .Page -}}
{{- $pages := (.Site.GetPage "/posts").Sections -}}

<!-- Order by number of posts -->
{{- $paginator := .Paginate $pages.ByLength -}}

<section id="sections">
  <div class="sections-header">
    <h1>Sections</h1>
  </div>

  <ul class="sections-list">
    {{- range $paginator.Pages -}} 
    <li>
      <a class="sections-list-item"
         style="--highlight-color: {{- .Params.color | safeCSS -}};"
         href="{{- .RelPermalink -}}">
        <img class="sections-list-item-logo"
             src="{{- .Params.logo  -}}"
             alt="section logo"/>
        <div class="sections-list-item-content">
          <h3>{{- .Params.name -}}</h3>
          <p class="sections-list-item-slogan">{{- .Params.slogan -}}</p>
          <p class="sections-list-item-meta">
            <i>{{ len .Pages }} posts</i>
          </p>
        </div>
      </a>
    </li>
    {{- end -}}
  </ul>

  {{- partial "pagination.html" $paginator -}}

</section>

{{- end -}}
