{{- define "main" -}}

{{- $justify := false -}}
{{- if eq .Params.justify true -}} {{- $justify = true -}} {{- end -}}

{{- $title := .Site.Title -}}
{{- $slogan := .Site.Params.slogan -}}
{{- $logo := .Site.Params.logo -}}
{{- $highlightColor := "" -}} 

<!-- Get publication highlight color -->
{{- if .Params.publications  -}}
{{- $publication := .Params.publications -}}
{{- range .Site.Pages -}}
{{- if eq .Page.Name $publication -}}
{{- $title = .Page.Params.title -}}
{{- $slogan = .Page.Params.subtitle -}}
{{- $logo = .Page.Params.logo -}}
{{- $highlightColor = .Page.Params.color -}}
{{- end -}}
{{- end -}}
{{- end -}}
<h1>_default/about.html</h1>
<div
  class="article-container about-container"
  style="--highlight-color:{{- $highlightColor -}};"
  >
  <div class="about-header">
    <img
      class="about-page-logo"
      src="{{- $logo -}}"
      alt="{{- $title -}} logo"/>
    {{- with .Params.showTitle -}}
    <h1 class="about title">
      {{- $title -}}
    </h1>
    {{- end -}}
    <h2 class="about subtitle">{{- $slogan -}}</h2>
  </div>
  <article
    class="about article markdown-body"
    {{- if $justify -}}
    style="text-align: justify;"
    {{- end -}}>
    {{- .Content -}}
  </article>
  {{- partial "article-author.html" . -}}
</div>
{{- end -}}
