{{- $title := T .Title -}}
{{- if not $title -}}
{{- $title = .Title -}}
{{- end -}}

<section id="header" class="site-header">
  <div class="header-wrap header-reduced">
    <span class="header left-side header-reduced">
      <a class="site-home" href="{{- `/` | relLangURL -}}">
        {{- $favicon := site.Params.favicon -}}
        {{- $showTitle := site.Params.showTitle -}}
        {{- if $favicon -}}
        <img class="site-favicon" src="{{- $favicon | relURL -}}" alt />
        {{- end -}}
        {{- if $showTitle -}}
        <span class="site-name header-reduced">
          {{- site.Title | safeHTML -}}
        </span>
        {{- end -}}
      </a>

      {{- if .Parent.Params.subsection -}}
      <a class="site-home" href="{{- .Parent.RelPermalink -}}">
        {{- if .Parent.Params.logo -}}
        <div
          class="publication-header-logo header-reduced"
          style="--highlight-color: {{- .Parent.Params.color -}};"
          >
          <img
            src="{{- .Parent.Params.logo -}}"
            alt="{{- .Parent.Params.name -}}"
            />
        </div>
        {{- else -}}
        <div class="publication-header-description">
          <h1 class="publication title header-reduced">
            {{- .Parent.Params.name -}}
          </h1>
        </div>
        {{- end -}}
      </a>
      {{- end -}}
    
    </span>
    <span class="header right-side">
      {{- partial "navigation-items.html" site.Params.nav -}}
    </span>
  </div>
</section>
