<section id="header" class="site-header">
  <div class="header-wrap">

    <span class="header-left-side">
      <a class="site-home" href="{{- `/` | relLangURL -}}">

        <!-- Add logo or site title -->
        {{- if .Site.Params.logo -}}
        <img
          class="site-logo"
          src="{{- .Site.Params.logo | relURL -}}"
          alt="site logo"
          />
        {{- else -}}
        <span class="site-name">
          {{- .Site.Title | safeHTML -}}
        </span>
        {{- end -}}

        <!-- Add slogan -->
        {{- with site.Params.slogan -}}
        <div class="site-slogan">
          <span>
            {{- . | safeHTML -}}
          </span>
        </div>
        {{- end -}}

      </a>
    </span>

    <span class="header-right-side">
      {{- partial "navigation-items.html" . -}}
    </span>

  </div>
</section>
