{{- $title := T .Title -}}
{{- if not $title -}}
{{- $title = .Title -}}
{{- end -}}

<section id="header" class="site-header-reduced">
  <div class="header-reduced-wrap">
    <span class="header-reduced-left-side">
      <a class="site-home" href="{{- `/` | relLangURL -}}">
        {{- if .Site.Params.favicon -}}
        <img
          class="site-favicon"
          src="{{- .Site.Params.favicon | relURL -}}"
          alt="{{- .Site.Title -}}"
          />
        {{- else -}}
        <span class="header-reduced-site-name">
          {{- .Site.Title | safeHTML -}}
        </span>
        {{- end -}}
      </a>

      {{- if or .Parent.Params.subsection -}}
      <a class="site-home" href="{{- .Parent.RelPermalink -}}">
        <div
          class="header-reduced-subsection"
          style="--highlight-color: {{- .Parent.Params.color | safeCSS -}};"
          >
          {{- if .Parent.Params.logo -}}
          <img
            class="header-reduced-subsection-logo"
            src="{{- .Parent.Params.logo | relURL -}}"
            alt="{{- .Parent.Params.name -}}"
            />
          {{- else -}}
          <span class="header-reduced-subsection-name">
            {{- .Parent.Params.name | safeHTML -}}
          </span>
          {{- end -}}
        </div>
      </a>
      {{- end -}}
    </span>

    <span class="header-right-side">
      {{- partial "navigation-items.html" . -}}
    </span>
  </div>
</section>
