<section id="header" class="site-header">
  <div class="header-wrap">

    <span class="header left-side">
      <a class="site-home" href="{{- `/` | relLangURL -}}">
        <!-- Add logo -->
        {{- if isset .Site.Params "logo" -}}
        <img class="site-logo" src="{{- .Site.Params.logo | relURL -}}" alt />
        {{- end -}}
        <!-- Add slogan -->
        {{- with site.Params.slogan -}}
        <div class="site-slogan">
          <span class="title">
            {{- . | safeHTML -}}
          </span>
        </div>
        {{- end -}}
        <!-- Add site title -->
        {{- if isset .Site.Params "showTitle" -}}
        <span class="site-name">
          {{- site.Title | safeHTML -}}
        </span>
        {{- end -}}
      </a>
    </span>

    <span class="header right-side">
      {{- partial "navigation-items.html" site.Params.nav -}}
    </span>
  </div>
</section>
