{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "Jan 2, 2006" -}}{{- end -}}
<ul class="note list">
  {{- range $key, $value :=  $paginator.Pages -}}
  {{- $featured := "" -}}
  {{- $large := "" -}}
  {{- if and (eq $key 0) (eq $paginator.PageNumber 1) -}}
  {{- $featured = "-featured" -}}
  {{- else if and (or (gt (mod $key 6) 0) (gt (modBool $key 7) 0)) (ne $paginator.PageNumber 1) -}}
  {{- $large = "-large" -}}
  {{- end -}}
  <li class="item{{- $featured -}}{{- $large -}}">
    <a
      class="note note-item-container{{- $featured -}}"
      href="{{- .RelPermalink -}}">
      {{- if .Params.image -}}
      <div class="note-item-post-cover{{- $featured -}}">
        <img src="{{.Params.image}}" alt="post cover">{{- end -}}
      </div>
      <div class="note-item-content{{- $featured -}}">
        <p class="note title">{{- .Title | safeHTML -}}</p>
        {{- if .Params.subtitle -}}
        <p class="note subtitle">
          {{- .Params.subtitle | safeHTML -}}
        </p>
        {{- end -}}
        {{- if .Date -}}
        <p class="note date">
          {{- .Date.Format $dateFormat -}}
          &nbsp &bull; &nbsp
          {{- if .ReadingTime -}}
          {{- .ReadingTime -}}&nbsp min read
          {{- end -}}
        </p>
        {{- end -}}
        {{- if or .Params.author .Params.publications -}}
        <p class="note date author">
          by&nbsp
          <span>
            {{- .Params.author | plainify | safeHTML -}}
          </span>
          {{- if .Params.publications -}}
          &nbspat&nbsp
          {{ $articleParams := .Params }}
          {{- range .Site.Pages -}}
          {{- if eq .Page.Name $articleParams.publications -}}
          <span
            class="publication-meta"
            style="--highlight-color: {{- .Page.Params.color -}};"
            >
          <img 
            src="{{.Page.Params.Favicon}}"
            alt="publication favicon"
            class="publication-favicon"
            />
            {{- $articleParams.publications | plainify | safeHTML -}}
          </span>
          {{- end -}}
          {{- end -}}
          {{- end -}}
        </p>
        {{- end -}}
        {{- $relURL := .RelPermalink -}}
        {{- $imgs := .Params.imgs -}}
        {{- with .Params.imgs -}}
        <span class="note imgs">{{- $imgCount := len $imgs -}}
          {{- range $imgs -}}
          {{- $imgurl := lower . -}}
          {{- if and (not (hasPrefix $imgurl "http://")) (not (hasPrefix $imgurl "https://")) -}}
          {{- $imgurl = path.Join $relURL . -}}
          {{- end -}}
          <img class="img" src="{{- $imgurl -}}" alt />
          {{- end -}}
        </span>{{- end -}}
      </div>
    </a>
  </li>
  {{- end -}}
</ul>
{{- end -}}
