{{- $paginator := . -}}
{{- $isHome := or (eq (string .URL) "/") (hasPrefix (string .URL) "/page/" ) -}}

{{- if gt $paginator.TotalPages 0 -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "Jan 2, 2006" -}}{{- end -}}
<ul class="note list note-list">
  {{- range $key, $value :=  $paginator.Pages -}}
  {{- $featured := "" -}}
  {{- $pages := "" -}}
  {{- if and (eq $key 0) (eq $paginator.PageNumber 1) -}}
  {{- $featured = "-featured" -}}
  {{- else if (ne $paginator.PageNumber 1) -}}
  {{- $pages = "-pages" -}}
  {{- end -}}
  <li class="item{{- $featured -}}{{- $pages -}}">
    <a
      class="note note-item-container{{- $featured -}}"
      href="{{- .RelPermalink -}}">
      {{- if .Params.image -}}
      <div class="note-item-post-cover{{- $featured -}}">
        <img src="{{.Params.image}}" alt="post cover">{{- end -}}
      </div>
      <div class="note-item-content{{- $featured -}}">
        <p class="note title">{{- .Title | safeHTML -}}</p>
        {{- if .Params.subtitle -}}
        <p class="note subtitle">
          {{- .Params.subtitle | safeHTML -}}
        </p>
        {{- end -}}

        <!-- Add date/reading time -->
        {{- if .Date -}}
        <p class="note-meta">
          {{- .Date.Format $dateFormat -}}
          {{- if .ReadingTime -}}
          &nbsp &bull; &nbsp
          {{- .ReadingTime -}}&nbsp min read
          {{- end -}}
        </p>
        {{- end -}}

        <!-- Add author tag -->
        <div class="note-meta">
          {{- if .Params.author -}}
          {{- partial "author-tag.html" . -}}
          {{- end -}}

          <!-- At home page, add subsection tag -->
          {{- if and .Parent.Params.subsection $isHome -}}
          &nbsp &sol; &nbsp
          {{- partial "section-tag.html" .Parent -}}
          {{- end -}}

        </div>
      </div>
      {{- $relURL := .RelPermalink -}}
    </a>
  </li>
  {{- end -}}
</ul>
{{- end -}}
