{{- $title := T .Title -}}
{{- if not $title -}}
{{- $title = .Title -}}
{{- end -}}

<section
  class="section-header"
  style="--highlight-color: {{- .Params.color | safeCSS -}};">
    {{- if .Params.logo -}}
    <img
      class="section-header-logo"  
      src="{{- .Params.logo -}}"
      alt="{{- $title -}}"/>
    {{- end -}}
    <div class="section-header-description">
      <h1 class="section-header-title">
        {{- .Params.name | safeHTML -}}
      </h1>
  {{- with .Params.slogan -}}
    <span class="section-header-subtitle">
      {{- . | safeHTML -}}
    </span>
  {{- end -}}
</section>

